version: '3.1'

services:
  db:
    image: supabase/postgres
    environment:
      POSTGRES_PASSWORD: your_password
      POSTGRES_USER: your_user
      POSTGRES_DB: your_database
    ports:
      - "5432:5432"

  api:
    image: supabase/postgrest
    environment:
      DB_URI: postgres://your_user:your_password@db:5432/your_database
      DB_ANON_ROLE: anon
    ports:
      - "3000:3000"

  auth:
    image: supabase/gotrue
    environment:
      GOTRUE_DB_DRIVER: postgres
      GOTRUE_DB_URI: postgres://your_user:your_password@db:5432/your_database
    ports:
      - "9999:9999"

  storage:
    image: supabase/storage-api
    environment:
      STORAGE_DB_URI: postgres://your_user:your_password@db:5432/your_database
    ports:
      - "5000:5000"

  realtime:
    image: supabase/realtime
    environment:
      DB_URI: postgres://your_user:your_password@db:5432/your_database
    ports:
      - "4000:4000"